.introduction__inner
    .introduction__item
        .introduction__item--img
            img(src='img/doctor1.png').intro__img
        .introduction__item--text
            h4.introduction__item--title Video reminders #[br] with a personal touch
            .introduction__text-inner
                .introduction__text-item  The characters in our app will remind you to take your pills. With these video reminders, you won’t skip taking your pills
                .introduction__text-item iTake isn’t just another pills scheduler. It was made by people who really care about your heath.
    .introduction__item
        .introduction__item--img-2
            img(src='img/pills.png').intro__img
        .introduction__item--text.text-2 
            h4.introduction__item--title Medical calendar  #[br] with an event scheduler
            .introduction__text-inner
                .introduction__text-item A simple, visual calendar lets you see your full course of medication
                .introduction__text-item  With our smart calendar events you can easily link your pill treatment  with meal timing.
        