.overlay
    .modal  
        .modal__cross
        .modal__logo 
            a(href="index.html")
                svg(class="modal__logo-icon")
                    use(xlink:href="img/icons/sprite.svg#main-logo")   
        h4.modal__title How can we help?
        p.modal__text Enter your data for the details!
        form(method='post', action='../php/mail.php' class="register-form")
            input(class="reg__input", type='text', placeholder="Name", required)
            input(class="reg__input", type='email',placeholder="Email",required)
            input(class="reg__input", type='tel', placeholder="Phone number", required)
        button(type='submit',class="register-btn") submit
