.intro__inner
    .container
        .intro
            include ../../blocks/main-intro/main-intro.pug
            include ../../blocks/introduction/introduction.pug
            include ../../blocks/features/features.pug
    