nav.header-nav
    ul.nav-links
        li 
            a(href="#features" class="nav__link") Features
        li
            a(href="#register" class="nav__link") How to use
        li
            a(href="#reviews" class="nav__link") Reviews

        include ../../blocks/select/select.pug
button#menu__button.cmn-toggle-switch.cmn-toggle-switch__htx
    span toggle menu