/* FONTS */


@mixin Montserrat-Bold ($font-family: 'Montserrat-Bold', $font-weight: 700, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin Montserrat-SemiBold ($font-family: 'Montserrat-SemiBold', $font-weight: 600, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin Montserrat-Medium ($font-family: 'Montserrat-Medium', $font-weight: 500, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin Montserrat-Regular ($font-family: 'Montserrat-Regular', $font-weight: 400, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}