.register {
    background: #fff;
    margin: rem-calc(40) 0 rem-calc(70) 0;


    @include md-block() {
        margin: rem-calc(93) 0 rem-calc(124) 0;

    }
}


.register__img {
    width: rem-calc(314);
    height: rem-calc(640);
    background: url(../img/form/iphone.jpg)center no-repeat;
    background-size: cover;
    margin: 0 auto;

    @include sm-block() {
        width: rem-calc(310);
        height: rem-calc(620);
        max-width: 100%;
    }

    @include md-block() {
        margin: 0;
        width: rem-calc(332);
        height: rem-calc(664);
        max-width: 100%;
    }
}


.register__block {
    display: flex !important;
    flex-wrap: wrap;
    text-align: center;
    outline: none;
    flex-direction: row-reverse;
}

.register__item {
    width: 100%;
    position: relative;
}

.register__item:first-child {
    @include md-block() {
        width: 55%;
    }

    @include lg-block() {
        width: 50%;
    }
}

.register__item:last-child {
    @include md-block() {
        width: 45%;
    }

    @include lg-block() {
        width: 50%;
    }
}

.register__title {
    max-width: rem-calc(200);
    font-size: rem-calc(25);
    line-height: 110%;
    color: #1E6BC6;
    margin: rem-calc(0) auto rem-calc(60);
    text-align: center;
    @include Montserrat-Bold;

    @include sm-block() {
        font-size: rem-calc(33);
        max-width: rem-calc(250);
    }

    @include md-block() {
        font-size: rem-calc(40);
        max-width: rem-calc(320);
    }
}

.slick-next,
.slick-prev {
    opacity: 0;

    @include md-block() {
        opacity: 1;
    }
}

.register__text {
    max-width: rem-calc(280);
    font-size: rem-calc(16);
    line-height: rem-calc(22);
    color: #000;
    text-align: left;
    margin: rem-calc(40) auto rem-calc(20);
    @include Montserrat-Regular;

    @include md-block() {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: none;
        font-size: rem-calc(20);
        line-height: rem-calc(28);
    }

    @include lg-block() {
        max-width: rem-calc(280);
        font-size: rem-calc(26);
        line-height: rem-calc(32);
    }
}

.slick-dots {
    position: absolute;
    top: 100% !important;
    left: 35% !important;
    width: 40%;

    @include md-block() {
        top: 65% !important;
        left: 0 !important;
    }
}

.register__icon {
    fill: #1E6BC6;
    width: rem-calc(220);
    height: rem-calc(90);
}

.form__logo {
    padding-top: rem-calc(90);
}

.form__title {
    @include Montserrat-Regular;
    font-size: rem-calc(11);
    line-height: rem-calc(14);
    color: #73818A;
    margin-top: rem-calc(10);
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form {
    margin-top: rem-calc(48);
    @include Montserrat-Medium;
}

.reg__input {
    min-width: rem-calc(237);
    padding: rem-calc(11) rem-calc(0) rem-calc(11) rem-calc(13);
    font-size: rem-calc(12);
    line-height: rem-calc(15);
    color: #73818A;
    border: rem-calc(1) solid #80C9EB;
    border-radius: rem-calc(10);
    margin-bottom: rem-calc(14);
    outline: none;
    transition: border 0.3s linear;

}

.reg__input {
    &:hover {
        border: rem-calc(1) solid rgb(5, 129, 182);
        border-radius: rem-calc(10);
    }

    &[type="email"] {
        color: black;
    }

    &[type="password"] {
        color: black;
    }
}


.register-btn {
    color: #fff;
    font-size: rem-calc(12);
    line-height: rem-calc(14);
    text-transform: uppercase;
    padding: rem-calc(12) rem-calc(55);
    background: linear-gradient(167.59deg, #4F9AF2 0%, #1E6BC6 100%);
    box-shadow: 0px 5.16395px 13.7705px rgba(46, 103, 156, 0.32);
    border: none;
    border-radius: rem-calc(10);
    margin-top: rem-calc(27);
    outline: none;
    @include Montserrat-Bold;

    &:hover {
        background: linear-gradient(167.59deg, rgb(66, 132, 207) 0%, rgb(23, 93, 179) 100%);

    }

    &:active {
        background: linear-gradient(167.59deg, rgb(66, 132, 207) 0%, rgb(23, 93, 179) 100%);

    }
}

.register__login {
    margin-top: rem-calc(28.4);

    &:hover a {
        color: rgb(0, 44, 97);
        text-decoration: underline;

    }
}

.register__login a {
    font-size: rem-calc(10);
    line-height: rem-calc(14);
    color: #1E6BC6;
    transition: color 0.2s linear;
    @include Montserrat-Bold;
}


/*checkbox*/

.checkbox {
    position: relative;
}

.checkbox__input {
    appearance: none;
    position: absolute;
}

.checkbox__label {
    font-size: rem-calc(14);
    line-height: rem-calc(15);
    display: inline-block;
    margin: rem-calc(10) auto;
    padding-left: rem-calc(50);
    cursor: pointer;
}

.policy__link {
    font-size: rem-calc(14);
    line-height: rem-calc(15);
    padding-left: rem-calc(3);
    color: #1E6BC6;
    text-decoration: underline;
    outline: none;
}

.checkbox__label:before {
    content: '';
    display: block;
    width: rem-calc(38);
    height: rem-calc(38);
    background: #fff;
    border: rem-calc(1) solid #80C9EB;
    border-radius: rem-calc(11);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox__label:after {
    content: '';
    display: block;
    width: rem-calc(23);
    height: rem-calc(23);
    background: url(../img/icons/check.svg) no-repeat;
    background-size: rem-calc(23) rem-calc(23);
    position: absolute;
    top: 55%;
    left: 8%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.checkbox__input:checked+.checkbox__label:after {
    opacity: 1;


}