.register#register
    .register__title How to Take Pills with iTake 
    .register__slider
        .register__block
            .register__item
                .register__img
                    .form__logo 
                        svg(class="register__icon")
                            use(xlink:href="img/icons/sprite.svg#logo") 
                    .form__title Don’t forget to take your pills
                    form(method='post', action='#', class="register-form", id="form_1")
                        input(class="reg__input", type='email', name='email',placeholder="Email",required)
                        input(class="reg__input", type='password', name='password', placeholder="Password", autocomplete="on", required)
                        input(class="reg__input", type='password', name='password', placeholder="Confirm password", autocomplete="on", required)
                        .checkbox 
                            input(class="checkbox__input" ,type="checkbox", id="checkbox_1")
                            label(class="checkbox__label", for="checkbox_1") I accept the 
                            a.policy__link Terms of Service
                    button(type='submit',class="register-btn") register
                    .register__login
                        a(href="#") Log in
            .register__item
                .register__text Register (just enter a login and password) and choose a character
        .register__block
            .register__item
                .register__img
                    .form__logo 
                        svg(class="register__icon")
                            use(xlink:href="img/icons/sprite.svg#logo") 
                    .form__title Don’t forget to take your pills
                    form(method='post', action='#two', class="register-form", id="form_2")
                        input(class="reg__input"  type='email', name='email',placeholder="Email", autocomplete="username", required)
                        input(class="reg__input"  type='password', name='password', placeholder="Password", autocomplete="new-password", required)
                        input(class="reg__input"  type='password', name='password', placeholder="Confirm password", autocomplete="new-password", required)
                        .checkbox 
                            input(class="checkbox__input" ,type="checkbox", id="checkbox_2")
                            label(class="checkbox__label", for="checkbox_2") I accept the 
                            a.policy__link Terms of Service
                    button(type='submit',class="register-btn") register
                    .register__login
                        a(href="#three") Log in
            .register__item
                .register__text Register (just enter a login and password) and choose a character