#reviews.review
    h3.review__title What People are Saying About iTake
    .review__inner
        .review__item
            .review__photo
                img(src="img/review/review1.jpg")
            .review__name Bjørn, 52
            .review__rate
                svg(class="review__icon")
                    use(xlink:href="img/icons/sprite.svg#rate")
            .review__text  This app is incredibly helpful.I love that they thought of everything, like the option to "snooze" your reminder or set up custom dosa
        .review__item
            .review__photo
                img(src="img/review/review2.jpg")
            .review__name  Kjetil, 67
            .review__rate
                svg(class="review__icon")
                    use(xlink:href="img/icons/sprite.svg#rate")
            .review__text I really like this app, I forget when it comes to taking regular medication, but with this app it really helps. It reminds you regularly, so you dont forget
        .review__item
            .review__photo
                img(src="img/review/review3.jpg")
            .review__name Hege, 60
            .review__rate
                svg(class="review__icon")
                    use(xlink:href="img/icons/sprite.svg#rate")
            .review__text   Very good app to keep track of medication intake, especially great feature to be able to get alerts when others haven't taken their medication as yet.
        .review__item
            .review__photo
                img(src="img/review/review4.jpg")
            .review__name Anders, 63
            .review__rate
                svg(class="review__icon")
                    use(xlink:href="img/icons/sprite.svg#rate")
            .review__text  Really helped me keep up with my med schedule, especially when I forget whether I've taken a dose. Also far far easier to show the med schedule in the app than try to remember and list it all to a doctor. 
        .review__item
            .review__photo
                img(src="img/review/review5.jpg")
            .review__name  Brit, 42
            .review__rate
                svg(class="review__icon")
                    use(xlink:href="img/icons/sprite.svg#rate")
            .review__text   This app has been the perfect solution to the problem of trying to remember if I took my medicine on any given day. There is a report function that gives you a percentage of the meds you took for the week and I find it very helpful and motivating!
        .review__item
            .review__photo
                img(src="img/review/review6.jpg")
            .review__name Asbjørn, 37
            .review__rate
                svg(class="review__icon")
                    use(xlink:href="img/icons/sprite.svg#rate")
            .review__text  This is the only medicine tracker app i use. i've tried numerous others but medisafe is by far the easiest to use, its simple, and the interface is easy to navigate.It's purely aesthetic rather than essential features, which i appreciate.
        a(href="#top" class="arrow__up" id="arrow")
            svg(class="arrow-up__icon")
                    use(xlink:href="img/icons/sprite.svg#arrow_up")