.footer {
    padding-bottom: rem-calc(30);
}

.footer__nav-icon {
    width: rem-calc(24);
    height: rem-calc(24);
    margin-right: rem-calc(10);

}

.footer__app__stars {
    width: rem-calc(103);
    height: rem-calc(15);
}

.footer__app-icon {
    width: rem-calc(100);
    height: rem-calc(37);

    margin: 0 auto;
}

.footer__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: rem-calc(30);
}

.footer__nav {
    display: none;
}


.footer__app__rating {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.footer__terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include Montserrat-Regular;
}

.footer__logo-icon {
    fill: #1E6BC6;
    width: rem-calc(147);
    height: rem-calc(35);
}

.footer__app-icon img {
    margin-top: rem-calc(30);
    width: rem-calc(110);
    height: rem-calc(36);
}


.footer__app__rating {
    margin-top: rem-calc(60);
}

.footer__app__rate {

    @include Montserrat-Medium;
}

.footer__policy a {
    margin-right: rem-calc(15);
    font-size: rem-calc(14);
    line-height: rem-calc(17);
    color: $black;
}


.footer__copyright a {
    font-size: rem-calc(14);
    line-height: rem-calc(17);
    color: $black;

}