.footer
    .footer__items
        .footer__logo
            a(href="index.html")
                svg(class="footer__logo-icon" width="105px" height="20px")
                    use(xlink:href="img/icons/sprite.svg#main-logo")
        .footer__app
            .footer__app-icon
                a(href="https://www.apple.com/ru/ios/app-store/")
                    img(src='img/appStore.png')
            .footer__app__rating
                .footer__app__rate 4.5/5 Stars Аpp Store Rating
                .footer__app__stars
                    img(src='img/stars.png')
    .footer__items
        .footer__nav
            ul.footer__nav-list
                li
                    a(href="#").footer__nav-link Features
                li
                    a(href="#").footer__nav-link How to use 
                li
                    a(href="#").footer__nav-link Reviews
                li.footer__nav-li
                    svg(class="footer__nav-icon")
                        use(xlink:href="img/icons/sprite.svg#mail")
                    a(href="#").footer__nav-link Write to us
        .footer__terms
            .footer__policy
                a(href="#") Terms & Conditions
                a(href="policy.html") Privacy Policy
            .footer__copyright
                a(href="#") © Copyright 2020