doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")

        //- Titles
        title iTake
        meta(name="description" content="")
        meta(name="keywords" content="")

        //- Adaptive
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- Styles
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="./fonts/fonts.css")
        link(rel="stylesheet",type="text/css", href="./css/slick.css")
        link(rel="stylesheet", type="text/css", href="./css/slick-theme.css")
        //- Favicons
        link(rel="icon" href="#!" type="image/x-icon") 
        link(rel="shortcut icon" href="#!"  type="image/x-icon")
        link(rel="apple-touch-icon" href="#!")

        //- For IE 10 and higher
        <!--[if lte IE 10]>
            p.browser-upgrade Вы используете устаревшую версию браузера. Пожалуйста 
            a(href="http://browsehappy.com/").browser-upgrade__link обновите свой браузер
        <![endif]-->
    body
        #top.container-fluid
            include ../sections/intro/intro.pug
            include ../sections/register/register.pug
            include ../sections/purchase/purchase.pug
            include ../sections/reviews/reviews.pug
            include ../sections/footer/footer.pug
            include ../blocks/modal/modal.pug
            include ../blocks/policy-modal/policy-modal.pug

//- Scripts

script(src="js/jquery-3.5.1.min.js") 
script(src="js/slick.min.js")
script(src="js/main.js")