#overlay-policy.overlay
    #modal-policy.modal
        #modal-cross.modal__cross
        .modal__logo 
            a(href="index.html")
                svg(class="modal__logo-icon")
                    use(xlink:href="img/icons/sprite.svg#main-logo")
        .policy__main-inner   
            .policy__main-title.top Privacy Policy 
            .policy__main-subtitle GROUNDS FOR DATA COLLECTION
            .policy__main-text  When you use our Service, you consent to the collection, storage, use, disclosure and other uses of your personal information as described in this Privacy Policy.
            .policy__main-text Processing of your Personal Information (meaning, any information which may potentially allow your identification with reasonable means; hereinafter “Personal Information”) is necessary for the performance of our contractual obligations towards you and providing you with our Service, to protect our legitimate interests, and to ensure compliance with legal and financial regulatory obligations.
            .policy__main-subtitle  HOW DO WE RECEIVE INFORMATION ABOUT YOU?
            .policy__main-text  If you choose to create a profile or register with us – you will be asked to provide Personal Information which will be associated with your Health information. Whenever you submit information via our Service – including, but not limited to, by telephone or email with customer service, we may collect Health Information and other Personal Information you provide us, in order to provide you with our Service.
            .policy__main-text  If you choose to create a profile or register with us – you will be asked to provide Personal Information which will be associated with your Health information. Whenever you submit information via our Service – including, but not limited to, by telephone or email with customer service, we may collect Health Information and other Personal Information you provide us, in order to provide you with our Service.
        


