#modal-policy {
    overflow-y: scroll;
    height: 90vh;
}


.policy__main-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    margin-top: rem-calc(10);
    font-size: rem-calc(25);

    @include md-block() {
        font-size: rem-calc(32);
    }
}


.policy__main-subtitle {
    font-size: rem-calc(15);
    line-height: rem-calc(18);
    color: #383838;
    margin: 1rem;
    @include Montserrat-Bold;

    @include sm-block() {
        font-size: rem-calc(17);
        line-height: rem-calc(21);
    }

    @include md-block() {
        font-size: rem-calc(20);
        line-height: rem-calc(24);
    }
}



.policy__main-text {
    @include Montserrat-Regular;
}