.purchase-app__inner {
    background: url(../img/purchase.jpg)center no-repeat;
    background-size: cover;
    text-align: center;
}

.purchase-app__img {
    padding-top: rem-calc(73);
}

.purchase-app__img img {
    height: rem-calc(169);
    width: rem-calc(169);
}

.purchase-app__icon img {
    width: rem-calc(170);
    height: rem-calc(50);
}


.purchase-app__title {
    font-size: rem-calc(24);
    line-height: 107%;
    max-width: rem-calc(250);
    color: #1E6BC6;
    margin: 0 auto;
    @include Montserrat-Bold;


    @include sm-block() {
        font-size: rem-calc(35);
        max-width: rem-calc(400);

    }

    @include md-block() {
        font-size: rem-calc(45);
        max-width: rem-calc(500);
    }

    @include lg-block() {
        line-height: 107%;
    }
}

.purchase-app__text {
    margin-top: rem-calc(29);
    color: $black;
    font-size: rem-calc(18);
    line-height: 109.4%;
    @include Montserrat-Regular;

    @include md-block() {
        font-size: rem-calc(30);
    }
}


.purchase-app__icon {
    margin-top: rem-calc(45);
    margin-bottom: rem-calc(20);


    @include sm-block() {
        margin-top: rem-calc(55);
        margin-bottom: rem-calc(29);
    }

    @include md-block() {
        margin-top: rem-calc(74);
        margin-bottom: rem-calc(29);
    }
}


.purchase-app__rate {
    font-size: rem-calc(16);
    line-height: rem-calc(20);
    margin-bottom: rem-calc(19);
    @include Montserrat-Regular;

    @include md-block() {
        font-size: rem-calc(26);
        line-height: rem-calc(32);
    }

    @include lg-block() {
        font-size: rem-calc(23);
    }
}


.purchase-app__stars {
    padding-bottom: rem-calc(68);

    @include md-block() {
        padding-bottom: rem-calc(95);
    }
}