.purchase-app__inner 
    .purchase-app__img
        img(src="img/clock.png")
    h3.purchase-app__title  iTake — Your Favorite Pill Schedule App
    h5.purchase-app__text Try now. Its free 
    .purchase-app__icon
        a(href="https://www.apple.com/ru/ios/app-store/")
            img(src='img/appStore.png')
    .purchase-app__rate  4.5/5 Stars Аpp Store Rating
    .purchase-app__stars
        img(src='img/stars.png')
