.policy-header
    .policy__nav
        .main-intro--logo
            a(href="index.html")
                svg(class="features__icon" width="105px" height="20px")
                    use(xlink:href="img/icons/sprite.svg#main-logo")
        include ../../blocks/select/select.pug
    .policy__main-title Privacy Policy 