.main-intro__inner {
    width: 100%;
    padding-bottom: rem-calc(250);

    @include sm-block() {
        padding-bottom: rem-calc(200);
    }

    @include md-block() {
        padding-bottom: rem-calc(150);
    }

}

.main-intro__photo {
    // height: 100vh;
    position: absolute;
    top: 10%;
    right: 0;
    margin-bottom: rem-calc(60);

    @include sm-block() {
        right: 0;
    }

    @include md-block() {
        width: rem-calc(550);
        top: 7%;
        right: 0;
    }

    @include lg-block() {
        top: 6%;
        right: -4%;
    }

}

.main-intro__photo img {
    display: block;
    height: auto;


    @include sm-block() {
        width: rem-calc(450);
    }

    @include md-block() {
        width: rem-calc(550);
    }

    @include lg-block() {
        width: rem-calc(670);
        max-width: 100%;

    }
}

.main-intro__block {
    padding-top: rem-calc(30);
    margin-left: rem-calc(15);
    max-width: rem-calc(290);


    @include sm-block() {
        max-width: rem-calc(350);

    }

    @include md-block() {
        max-width: rem-calc(410);
        padding-top: rem-calc(40);
        margin-left: rem-calc(50);
    }

    @include lg-block() {
        max-width: rem-calc(500);
        padding-top: rem-calc(79);
        margin-left: rem-calc(40);

    }
}

.main-intro--title {
    font-size: rem-calc(26);
    line-height: 107%;
    color: #1E6BC6;
    margin-top: rem-calc(15);
    margin-bottom: rem-calc(23);
    @include Montserrat-Bold;

    @include sm-block() {
        margin-top: rem-calc(20);
        font-size: rem-calc(28);
        margin-bottom: rem-calc(32);

    }

    @include md-block() {
        font-size: rem-calc(30);
    }

    @include lg-block() {
        font-size: rem-calc(38);
    }
}

.main-intro--text {
    max-width: rem-calc(240);
    font-size: rem-calc(15);
    line-height: rem-calc(23);
    color: #000000;
    margin-bottom: rem-calc(20);
    @include Montserrat-Regular;

    @include md-block() {
        font-size: rem-calc(18);
        margin-bottom: rem-calc(40);

    }

    @include lg-block() {
        font-size: rem-calc(21);
        line-height: rem-calc(28);
        margin-bottom: rem-calc(62);

    }
}

.main-intro--img {
    width: rem-calc(112);
    height: rem-calc(36);
}