.wrapper
  .select_wrap
    ul.default_option
      li
        .option.first
          .icon
          p English
    ul.select_ul
      li
        .option.first
          .icon
          p English
      li
        .option.second
          .icon
          p Norge
      li
        .option.third
          .icon
          p Svenska
      li
        .option.fourth
          .icon
          p Dansk