.wrapper {
    margin-right: rem-calc(15);

}

.select_wrap {
    width: rem-calc(160);
    margin: rem-calc(15) auto;
    position: relative;
    user-select: none;
}

.select_wrap .default_option {
    background: #fff;
    border-radius: rem-calc(50);
    position: relative;
    cursor: pointer;
    font-size: rem-calc(15);
}

.select_wrap .default_option li {
    padding: rem-calc(5) rem-calc(20);
}

.select_wrap .default_option:before {
    content: "";
    position: absolute;
    top: rem-calc(15);
    right: rem-calc(18);
    width: rem-calc(10);
    height: rem-calc(9);
    border: rem-calc(1) solid;
    border-color: transparent transparent #555555 #555555;
    transform: rotate(-45deg);
    transition: transform, top 0.4s, 0.5s linear;
}


.select_wrap .select_ul {
    position: absolute;
    top: rem-calc(48);
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: rem-calc(15);
    display: none;
    font-size: rem-calc(15);

}

.select_wrap .select_ul li {
    padding: rem-calc(5) rem-calc(20);
    cursor: pointer;
    margin: 0;

    @include md-block() {
        padding: rem-calc(10) rem-calc(20);
    }
}

.select_wrap .select_ul li:first-child:hover {
    border-top-left-radius: rem-calc(15);
    border-top-right-radius: rem-calc(15);
}

.select_wrap .select_ul li:last-child:hover {
    border-bottom-left-radius: rem-calc(15);
    border-bottom-right-radius: rem-calc(15);
}

.select_wrap .select_ul li:hover {
    background: #fff4dd;
}

.select_wrap .option {
    display: flex;
    align-items: center;
}

.select_wrap .option .icon {
    background: url('../img/sprite.png') no-repeat 0 0;
    width: rem-calc(30);
    height: rem-calc(32);
}

.select_wrap .option.first .icon {
    background-position: rem-calc(-45) rem-calc(1);

}

.select_wrap .option.second .icon {
    background-position: rem-calc(-10) rem-calc(-30);
}

.select_wrap .option.third .icon {
    background-position: rem-calc(-10) rem-calc(1);
}

.select_wrap .option.fourth .icon {
    background-position: rem-calc(-45) rem-calc(-30);
}


.select_wrap.active .select_ul {
    display: block;
    margin-bottom: rem-calc(30);

    @include md-block() {
        margin-bottom: 0;

    }
}

.select_wrap.active .default_option:before {
    top: rem-calc(18);
    transform: rotate(-225deg);
}