#features.features__inner
    .features__item
        .features__img
            svg(class="features__icon" width="50px" height="65px")
                use(xlink:href="img/icons/sprite.svg#phone")
        .features__text  Care 
        span.features__span about your health
    .features__item
        .features__img  
            svg(class="features__icon" width="65px" height="60px")
                use(xlink:href="img/icons/sprite.svg#house")
        .features__text Collect
        span.features__span information about all of #[br]  your pills in one place
    .features__item
        .features__img 
            svg(class="features__icon" width="59px" height="55px")
                use(xlink:href="img/icons/sprite.svg#calendar")
        .features__text Create
        span.features__span  a schedule for taking  #[br]  your pills
    .features__item
        .features__img 
            svg(class="features__icon" width="64px" height="60px")
                use(xlink:href="img/icons/sprite.svg#hands")
        .features__text Customize
        span.features__span  how you take each of  #[br]  your pills
    .features__item
        .features__img  
            svg(class="features__icon" width="64px" height="74px")
                use(xlink:href="img/icons/sprite.svg#music")
        .features__text Add 
        span.features__span voice and text notes
    .features__item
        .features__img  
            svg(class="features__icon" width="69px" height="69px")
                use(xlink:href="img/icons/sprite.svg#arrow")
        .features__text Archieve
        span.features__span   your goals daily 